.tab
{
    BORDER-COLLAPSE: collapse;
    }
.tab .header
{
    background-image:url('../Images/bg4.png');
    text-align:center;
    
    }
 .tab td {
    border: 1px solid #BBE1F1;

}
.tab .tdOpation
{
    width:88px;
    }
    
    
 .divUpOrNew
 {
     clear:both; text-align:right;padding :10px 10px 5px 0px;
     }
 .searchW
 {
        margin-left: 8px;
    width: 110px;
    text-align:center;
     }