<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DbJianLiConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=DbJianLi;User ID=sa;Password=liaowei"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>